RewriteEngine On

RewriteRule ^index$ index.php [NC,L]
RewriteRule ^aboutUs$ aboutUs.php [NC,L]
RewriteRule ^vaccList$ vaccList.php [NC,L]
RewriteRule ^vaccationAdd$ vaccationAdd.php [NC,L]
RewriteRule ^updateTeacherPhoto$ updateTeacherPhoto.php [NC,L]
RewriteRule ^trastsView$ trastsView.php [NC,L]
RewriteRule ^trainStatus$ trainStatus.php [NC,L]
RewriteRule ^tqualifics$ tqualifics.php [NC,L]
RewriteRule ^teacherlist$ teacherlist.php [NC,L]
RewriteRule ^spouceList$ spouceList.php [NC,L]
RewriteRule ^spouceDetail$ spouceDetail.php [NC,L]
RewriteRule ^showSchool$ showSchool.php [NC,L]
RewriteRule ^serviceCertificate$ serviceCertificate.php [NC,L]
RewriteRule ^servCertify$ servCertify.php [NC,L]
RewriteRule ^ser&grade$ ser&grade.php [NC,L]
RewriteRule ^schoolDump$ schoolDump.php [NC,L]
RewriteRule ^qualifiList$ qualifiList.php [NC,L]
RewriteRule ^qualificationCustomer$ qualificationCustomer.php [NC,L]
RewriteRule ^poolpg$ poolpg.php [NC,L]
RewriteRule ^perfectMatch$ perfectMatch.php [NC,L]
RewriteRule ^nprteachcs$ nprteachcs.php [NC,L]
RewriteRule ^nprList$ nprList.php [NC,L]
RewriteRule ^mutualReportDetail$ mutualReportDetail.php [NC,L]
RewriteRule ^mutualAdd$ mutualAdd.php [NC,L]
RewriteRule ^mutual$ mutual.php [NC,L]
RewriteRule ^msucessAdd$ msucessAdd.php [NC,L]
RewriteRule ^monthRepList$ monthRepList.php [NC,L]
RewriteRule ^generalMutual$ generalMutual.php [NC,L]
RewriteRule ^extraActivityList$ extraActivityList.php [NC,L]
RewriteRule ^extraActivity$ extraActivity.php [NC,L]
RewriteRule ^exDutyExplist$ exDutyExplist.php [NC,L]
RewriteRule ^earlysvcsList$ earlysvcsList.php [NC,L]
RewriteRule ^earlyServicecs$ earlyServicecs.php [NC,L]
RewriteRule ^dutyPage$ dutyPage.php [NC,L]
RewriteRule ^deleteTeacherPhoto$ deleteTeacherPhoto.php [NC,L]
RewriteRule ^childrenDetail$ childrenDetail.php [NC,L]
RewriteRule ^childList$ childList.php [NC,L]
RewriteRule ^capableView$ capableView.php [NC,L]
RewriteRule ^capableSub$ capableSub.php [NC,L]
RewriteRule ^branches$ branches.php [NC,L]
RewriteRule ^biographyFile$ biographyFile.php [NC,L]
RewriteRule ^bincpage$ bincpage.php [NC,L]
RewriteRule ^addTeacherPhoto$ addTeacherPhoto.php [NC,L]
RewriteRule ^abtechingListcp$ abtechingListcp.php [NC,L]
RewriteRule ^aboutUs$ aboutUs.php [NC,L]
RewriteRule ^firstMenu$ firstMenu.php [NC,L]
RewriteRule ^zone$ zone.php [NC,L]
RewriteRule ^userAccountCr$ userAccountCr.php [NC,L]
RewriteRule ^Tvaccation$ Tvaccation.php [NC,L]
RewriteRule ^tspouceApr$ tspouceApr.php [NC,L]
RewriteRule ^tReport$ tReport.php [NC,L]
RewriteRule ^teaqualificationUpdt$ teaqualificationUpdt.php [NC,L]
RewriteRule ^teachingDetaEdit$ teachingDetaEdit.php [NC,L]
RewriteRule ^teacherEdit$ teacherEdit.php [NC,L]
RewriteRule ^teacher$ teacher.php [NC,L]
RewriteRule ^tchildApr$ tchildApr.php [NC,L]
RewriteRule ^substreams$ substreams.php [NC,L]
RewriteRule ^subject$ subject.php [NC,L]
RewriteRule ^school$ school.php [NC,L]
RewriteRule ^scategory$ scategory.php [NC,L]
RewriteRule ^rowhead$ rowhead.php [NC,L]
RewriteRule ^province$ province.php [NC,L]
RewriteRule ^professions$ professions.php [NC,L]
RewriteRule ^principleAdd$ principleAdd.php [NC,L]
RewriteRule ^placementc$ placementc.php [NC,L]
RewriteRule ^pcardreApr$ pcardreApr.php [NC,L]
RewriteRule ^mloginForm$ mloginForm.php [NC,L]
RewriteRule ^maritaldAdd$ maritaldAdd.php [NC,L]
RewriteRule ^MainAdminSecond$ MainAdminSecond.php [NC,L]
RewriteRule ^MainAdmin$ MainAdmin.php [NC,L]
RewriteRule ^logout$ logout.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^languageAdd$ languageAdd.php [NC,L]
RewriteRule ^hobDutyAdd$ hobDutyAdd.php [NC,L]
RewriteRule ^Grade$ Grade.php [NC,L]
RewriteRule ^extraAct$ extraAct.php [NC,L]
RewriteRule ^exDutyAppr$ exDutyAppr.php [NC,L]
RewriteRule ^ersvsEdit$ ersvsEdit.php [NC,L]
RewriteRule ^dutyAdd$ dutyAdd.php [NC,L]
RewriteRule ^classLetter$ classLetter.php [NC,L]
RewriteRule ^class$ class.php [NC,L]
RewriteRule ^certifyApr$ certifyApr.php [NC,L]
RewriteRule ^addMarks$ addMarks.php [NC,L]
RewriteRule ^dutyAdd$ dutyAdd.php [NC,L]
RewriteRule ^transferReq$ transferReq.php [NC,L]
RewriteRule ^officesign$ officesign.php [NC,L]
RewriteRule ^principlesign$ principlesign.php [NC,L]
RewriteRule ^office$ office.php [NC,L]
RewriteRule ^page$ page.php [NC,L]
RewriteRule ^transferReqMan$ transferReqMan.php [NC,L]
RewriteRule ^traReqInterDetail$ traReqInterDetail.php [NC,L]
RewriteRule ^traReqView$ traReqView.php [NC,L]
RewriteRule ^Exception$ Exception.php [NC,L]
RewriteRule ^PHPMailer$ PHPMailer.php [NC,L]
RewriteRule ^SMTP$ SMTP.php [NC,L]
RewriteRule ^mainSlider$ mainSlider.php [NC,L]
RewriteRule ^downslider$ downslider.php [NC,L]
RewriteRule ^dutyProfession$ dutyProfession.php [NC,L]
RewriteRule ^dutyForm$ dutyForm.php [NC,L]
RewriteRule ^headteEdit$ headteEdit.php [NC,L]
RewriteRule ^teacherAdmin$ teacherAdmin.php [NC,L]
RewriteRule ^RowDataAdmin$ RowDataAdmin.php [NC,L]
RewriteRule ^principle$ principle.php [NC,L]
RewriteRule ^markingAdmin$ markingAdmin.php [NC,L]
RewriteRule ^developer$ developer.php [NC,L]
RewriteRule ^cOfficer$ cOfficer.php [NC,L]
RewriteRule ^BranchAdmin$ BranchAdmin.php [NC,L]
RewriteRule ^contactDe$ contactDe.php [NC,L]
RewriteRule ^sendEmail$ sendEmail.php [NC,L]
RewriteRule ^cofSelect$ cofSelect.php [NC,L]
RewriteRule ^certifiAccessList$ certifiAccessList.php [NC,L]
RewriteRule ^priCardre$ priCardre.php [NC,L]
RewriteRule ^addTeacherNeed$ addTeacherNeed.php [NC,L]
RewriteRule ^hobDetail$ hobDetail.php [NC,L]
RewriteRule ^branchPic$ branchPic.php [NC,L]
RewriteRule ^bmemDetail$ bmemDetail.php [NC,L]
RewriteRule ^dslUpdate$ dslUpdate.php [NC,L]
RewriteRule ^dslDelete$ dslDelete.php [NC,L]
RewriteRule ^zoDelete$ zoDelete.php [NC,L]
RewriteRule ^zoUpdate$ zoUpdate.php [NC,L]
RewriteRule ^tvaccDelete$ tvaccDelete.php [NC,L]
RewriteRule ^tvaccUpdate$ tvaccUpdate.php [NC,L]
RewriteRule ^vcaDelete$ vcaDelete.php [NC,L]
RewriteRule ^vcaUpdate$ vcaUpdate.php [NC,L]
RewriteRule ^uAccDelete$ uAccDelete.php [NC,L]
RewriteRule ^offiDelete$ offiDelete.php [NC,L]
RewriteRule ^offiUpdate$ offiUpdate.php [NC,L]
RewriteRule ^priDelete$ priDelete.php [NC,L]
RewriteRule ^priUpdate$ priUpdate.php [NC,L]
RewriteRule ^tsDelete$ tsDelete.php [NC,L]
RewriteRule ^tsUpdate$ tsUpdate.php [NC,L]
RewriteRule ^trmDelete$ trmDelete.php [NC,L]
RewriteRule ^trmUpdate$ trmUpdate.php [NC,L]
RewriteRule ^perDelete$ perDelete.php [NC,L]
RewriteRule ^tRdelete$ tRdelete.php [NC,L]
RewriteRule ^traReqAprDelete$ traReqAprDelete.php [NC,L]
RewriteRule ^treqDelete$ treqDelete.php [NC,L]
RewriteRule ^apDelete$ apDelete.php [NC,L]
RewriteRule ^bUpdate$ bUpdate.php [NC,L]
RewriteRule ^tDelete$ tDelete.php [NC,L]
RewriteRule ^suDelete$ suDelete.php [NC,L]
RewriteRule ^suUpdate$ suUpdate.php [NC,L]
RewriteRule ^stDelete$ stDelete.php [NC,L]
RewriteRule ^stUpdate$ stUpdate.php [NC,L]
RewriteRule ^sDelete$ sDelete.php [NC,L]
RewriteRule ^sUpdate$ sUpdate.php [NC,L]
RewriteRule ^tqfDelete$ tqfDelete.php [NC,L]
RewriteRule ^tqfUpdate$ tqfUpdate.php [NC,L]
RewriteRule ^proDelete$ proDelete.php [NC,L]
RewriteRule ^proUpdate$ proUpdate.php [NC,L]
RewriteRule ^prDelete$ prDelete.php [NC,L]
RewriteRule ^prUpdate$ prUpdate.php [NC,L]
RewriteRule ^priDelete$ priDelete.php [NC,L]
RewriteRule ^priUpdate$ priUpdate.php [NC,L]
RewriteRule ^plDelete$ plDelete.php [NC,L]
RewriteRule ^plUpdate$ plUpdate.php [NC,L]
RewriteRule ^offisiDelete$ offisiDelete.php [NC,L]
RewriteRule ^offisiUpdate$ offisiUpdate.php [NC,L]
RewriteRule ^nptDelete$ nptDelete.php [NC,L]
RewriteRule ^nptUpdate$ nptUpdate.php [NC,L]
RewriteRule ^nprDelete$ nprDelete.php [NC,L]
RewriteRule ^nprUpdate$ nprUpdate.php [NC,L]
RewriteRule ^mstDelete$ mstDelete.php [NC,L]
RewriteRule ^mstUpdate$ mstUpdate.php [NC,L]
RewriteRule ^lanDelete$ lanDelete.php [NC,L]
RewriteRule ^lanUpdate$ lanUpdate.php [NC,L]
RewriteRule ^mslDelete$ mslDelete.php [NC,L]
RewriteRule ^mslUpdate$ mslUpdate.php [NC,L]

RewriteRule ^hodDelete$ hodDelete.php [NC,L]
RewriteRule ^hodUpdate$ hodUpdate.php [NC,L]
RewriteRule ^sgDelete$ sgDelete.php [NC,L]
RewriteRule ^sgUpdate$ sgUpdate.php [NC,L]
RewriteRule ^extDelete$ extDelete.php [NC,L]
RewriteRule ^extUpdate$ extUpdate.php [NC,L]
RewriteRule ^eduDelete$ eduDelete.php [NC,L]
RewriteRule ^eduUpdate$ eduUpdate.php [NC,L]
RewriteRule ^exdDelete$ exdDelete.php [NC,L]
RewriteRule ^exDUpdate$ exDUpdate.php [NC,L]
RewriteRule ^erlDelete$ erlDelete.php [NC,L]
RewriteRule ^erlUpdate$ erlUpdate.php [NC,L]
RewriteRule ^dutyDelete$ dutyDelete.php [NC,L]
RewriteRule ^dutyUpdate$ dutyUpdate.php [NC,L]
RewriteRule ^coDelete$ coDelete.php [NC,L]
RewriteRule ^coUpdate$ coUpdate.php [NC,L]
RewriteRule ^clDelete$ clDelete.php [NC,L]
RewriteRule ^clletDelete$ clletDelete.php [NC,L]
RewriteRule ^clletUpdate$ clletUpdate.php [NC,L]
RewriteRule ^clUpdate$ clUpdate.php [NC,L]
RewriteRule ^cUpdate$ cUpdate.php [NC,L]
RewriteRule ^cDelete$ cDelete.php [NC,L]
RewriteRule ^caDelete$ caDelete.php [NC,L]
RewriteRule ^caUpdate$ caUpdate.php [NC,L]
RewriteRule ^crdlDelete$ crdlDelete.php [NC,L]
RewriteRule ^crdlUpdate$ crdlUpdate.php [NC,L]
RewriteRule ^pricDelete$ pricDelete.php [NC,L]
RewriteRule ^pricUpdate$ pricUpdate.php [NC,L]
RewriteRule ^briiDelete$ briiDelete.php [NC,L]
RewriteRule ^briiUpdate$ briiUpdate.php [NC,L]
RewriteRule ^bmemDelete$ bmemDelete.php [NC,L]
RewriteRule ^bmemUpdate$ bmemUpdate.php [NC,L]


# Disabling Directory Browse
options -Indexes

# Custom Error Page
ErrorDocument 404 /404.php
